<!--New todo-->
<section id="display-container" class="position-relative rounded shadow animated swing slow">
  <div class="rounded" id="display-panel">
    <h1 class="text-center text-white pt-3"><i class="fas fa-sign"></i></h1>
    <h1 class="text-center text-white">Page Not Found</h1>
    <div class="text-center my-4">
      <a href="/" class="error-btn">Back to app</a>
    </div>
  </div>
</section>