form {
  min-height:195px;
  background: rgba(176,176,176, .6);
  border-radius: 5px;
  padding: 0 5px 10px 5px;
  margin-bottom: 10px;
}

form .form-control:focus,
form .form-control:hover {
  box-shadow: none;
  border-color: rgb(151, 151, 151);
}

.todo-submit {
  background: #265077;
  padding: 8px 12px;
  text-decoration: none;
  color: #FFFFFF;
  border-color: transparent;
}

.todo-submit:hover {
  background: #1E4258;
  color: white;
}

