.card {
  background-color: rgba(255,255,255,.9);
  max-width: 420px;
}

.card::before {
  display: block;
  content: "";
  height: 7px;
  background: linear-gradient(90deg, rgba(49,48,54,1) 0%, rgba(103,103,103,1) 0%, rgba(199,197,197,1) 100%);;
  border-radius: .25rem .25rem 0 0;
}

form .form-input i {
  color: rgb(173, 173, 173);
}

form .form-control:focus,
form .form-control:hover {
  box-shadow: none;
  border-color: rgb(151, 151, 151);
}

.was-validated .form-control:invalid, 
.form-control.is-invalid {
  background-image: none;
}

.was-validated .form-control:invalid:focus, 
.form-control.is-invalid:focus {
  box-shadow: none;
}

.was-validated .form-control:valid, 
.form-control.is-valid {
  background-image: none;
}

.was-validated .form-control:valid:focus, 
.form-control.is-valid:focus {
  box-shadow: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder { 
  color: rgb(173, 173, 173);
  opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.form-control:-ms-input-placeholder { 
  color: rgb(173, 173, 173);
}

/* Microsoft Edge */
.form-control::-ms-input-placeholder { 
  color: rgb(173, 173, 173);
}

form .form-input i {
  position: absolute;
  top: 11px;
  left: 9;
}

form .form-input input {
  padding-left: 30px;
}

.user-form-btn {
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  border-color: transparent;
}

.user-form-btn:hover {
  -webkit-box-shadow: 1px 1px 6px -1px rgba(71,71,71,1);
  -moz-box-shadow: 1px 1px 6px -1px rgb(63, 25, 25);
  box-shadow: 1px 1px 6px -1px rgba(71,71,71,1);
}

.btn-facebook-blue {
  background: #3b5998;
}

.btn-facebook-blue:hover {
  color: white;
  text-decoration: none;
}

.btn-orange {
  background: #F79102;
}

.separate-line small {
  position: absolute;
  top: 7;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
}

.login-signup-btn {
  padding: 2px 0;
  border-radius: 30px;
  text-decoration: none;
  color: #8b8b8b;
  border: 1px solid #8b8b8b;
}

.login-signup-btn:hover {
  text-decoration: none;
  border-color: #727070;
  color: #727070;
}